

{% extends 'index.html' %}
{% block title %}
contact
{% endblock title %}
 
 {% block content %}
  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Contact
     
    </h1>
 <div class="bg-primary text-danger">
        {% for message in messages %}
          <h3 class="is_invalid">{{message}}</h3>
        {% endfor %}
    </div>
    <!-- Content Row -->
    <div class="row">
      <!-- Map Column -->
      {% for contact in contact%}
      <div class="col-lg-8 mb-4">
        <!-- Embedded Google Map -->
        <iframe width="100%" height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="{{contact.image}}"></iframe>
      </div>
      <!-- Contact Details Column -->
      <div class="col-lg-4 mb-4">
        <h3>Contact Details</h3>
        <p>Location:
          {{contact.country}}
          <br> {{contact.region}},{{contact.town}}, {{contact.street}}
          <br>
        </p>
        <p>
          <abbr title="Phone">Phone</abbr>:<a href="tel:{{contact.phone_number}}"> (+237) {{contact.phone_number}}</a>
        </p>
        <p>
          <abbr title="Email">Email</abbr>:
          <a href="mailto:name@example.com"> {{contact.email}}
          </a>
        </p>
        <p>
          <abbr title="Hours">H</abbr>: Monday - Friday: 9:00 AM to 5:00 PM
        </p>
      </div>
      {% endfor %}
    </div>
    <!-- /.row -->

    <hr/>
    <!-- Team Members -->
    <h2>Our Team</h2>

    <div class="row">
    {% for member in members %}
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
         {% if member.image %}
          <img class="card-img-top" src="{{member.image}}" alt="">
          {% endif %}
          <div class="card-body">
            <h4 class="card-title">{{member.name}}</h4>
            <h6 class="card-subtitle mb-2 text-muted">{{member.position}}</h6>
            <p class="card-text">{{member.description}}.</p>
          </div>
          <div class="card-footer">
            <a href="#">{{member.email}}</a>
          </div>
        </div>
      </div>
      {% endfor %}
  
    </div>
    <!-- /.row -->

    <h1 class="mt-4 mb-3 text-center">Our Links and Reachouts</h1>
 <div class="row  bg-secondary">
      <div class="col-lg-2">
      {% if about.facebook_page1 %}
       <a href="{{about.facebook_page1}}"><li class="  btn  btn-sm btn-primary fa  fa-facebook " ><br>facebook</li></a>
        {% endif %}
      </div>

      <div class="col-lg-3">
      {% if about.facebook_page2 %}
       <a href="{{about.facebook_page2}}"><li class=" btn  btn-sm btn-primary fa  fa-facebook " ><br>facebook</li></a>
        {% endif %}
      </div>

      <div class="col-lg-3">
      {% if about.youtube_channel %}
       <a href="{{about.youtube_channel}}"><li class="btn btn-sm  btn-danger fa  fa-youtube-play  " ><br>Youtube</li></a>
        {% endif %}
      </div>

      <div class="col-lg-2">
      {% if about.instagram  %}
       <a href="{{about.instagram }}"><li class="btn btn-sm  btn-danger fa  fa-instagram  " ><br>Instgram</li></a>
        {% endif %}
      </div>

       <div class="col-lg-2">
      {% if about.github  %}
       <a href="{{about.github }}"><li class="btn btn-sm btn-success fa  fa-github  " ><br>Github</li></a>
        {% endif %}
      </div>

</div>
<hr/>

    <!-- Contact Form -->
    <!-- In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
    <div class="row">
      <div class="col-lg-8 mb-4">
        <h3>Send us a Message</h3>
        <form action="" method="post" name="sentMessage" id="contactForm" novalidate>
        {% csrf_token %}
          <div class="control-group form-group">
            <div class="controls">
              <label>Full Name:</label>
              <input type="text" class="form-control" id="name" name="name" required data-validation-required-message="Please enter your name.">
              <p class="help-block"></p>
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls">
              <label>Phone Number:</label>
              <input type="tel" class="form-control" id="phone" name="phone" required data-validation-required-message="Please enter your phone number.">
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls">
              <label>Email Address:</label>
              <input type="email" class="form-control" id="email" name="email" required data-validation-required-message="Please enter your email address.">
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls">
              <label>Message:</label>
              <textarea rows="10" cols="100" class="form-control" id="message" name="message" required data-validation-required-message="Please enter your message" maxlength="999" style="resize:none"></textarea>
            </div>
          </div>
          <div id="success"></div>
          <!-- For success/fail messages -->
          <button type="submit" class="btn btn-primary" id="sendMessageButton">Send Message</button>
        </form>
      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
 {% endblock content %}

  